$inter: "Inter", sans-serif;
@mixin footerCircles() {
        width: 100px;
        height: 101.49px;
        background-color: #FCC647;
        border: transparent;
        border-radius: 360px;
        position: absolute;
        top: 65.97px;
}
@mixin footerInfoSpan() {
        font-family: $inter;
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        text-transform: lowercase;
        color: #232233;
        position: absolute;
        top: 100.48px;
}
@mixin footerCirclesIcons() {
        font-size: 40px;
        position: absolute;
        top: 30.45px;
        left: 30px;
        color: white;
}
.Footer {
    width: 100%;
    height: 662px;
    position: relative;
}
@media only screen and (max-width: 1429px) {
    .Footer {
        top: 2000px;
    }
    #mjsnFood {
        left: 10px;
    }
    #mobile {
    width: 20px !important;
    }
    #newsletterInput {
        width: 250px !important;
    }
    #newsletterSubmit {
        left: 230px !important;
    }
} 
@media only screen and (max-width: 1245px) {
    #info {
    width: 700px !important;
    hr {
        height: 80px !important;
        left: 367px !important;
        top: 65px !important;
    }
    #email {
    #emailCircle {
        width: 70px !important;
        height: 70px !important;
        top: 80px !important;
        left: -50px !important;
        #envelope {
            left: 20px !important;
            top: 20px !important;
            font-size: 30px !important; 
        }
    }
        span {
            left: 30px !important;
            font-size: 20px !important;
            top: 95px !important;
        }
    }
    #mobile {
        #mobileCircle {
            width: 70px !important;
            height: 70px !important;
            left: -270px !important;
            top: 13px !important;
            #phone {
                font-size: 30px !important;
                top: 21px !important;
                left: 21px !important;
            } 
        }
        span {
            font-size: 20px !important;
            top: 30px !important;
            left: -190px !important;
        }
    }
    
    
}
#newsletter {
    width: 295px !important;
    #newsletterInput {
        top: 140px !important;
    }
    #newsletterSubmit {
        top: 140px !important; 
    }
}

}
@media only screen and (max-width: 1160px) {
    .Footer {
    top: 1900px;
    }
    #footerMainSection {
        #mjsnFood, p:nth-child(2) {
            left: 20px !important;
        }
        #newsletter {
            p {
            left: 0 !important;
        }
    }
    }
    #socialMedia {
        left: 20px !important;
    }
}
@media only screen and (max-width: 1076px) {
    .Footer {
        top: 3000px;
    }
}
@media only screen and (max-width: 1000px) {
    #footerMainSection {
        height: 880px !important;
        #mjsnFood {
        left: 10% !important;
        top: 200px !important;
        }
        p:nth-child(2) {
            left: 10% !important;
            top: 250px !important;
        }
    }
    #socialMedia {
        left: 10% !important;
    }
    #quickLink {
        left: 70% !important;
        top: 200px !important;
    }
    #newsletter {
        top: 535px !important;
        position: absolute;
        left: 55% !important;
        transform: translate(-50%, 0) !important;
        p:nth-child(2) {
            top: 50px !important;
        }

    }
    #bottomHR {
        position: relative !important;
        top: 800px !important;
        left: 55% !important;
        transform: translate(-70%, 0) !important;
    }
    #copyright {
        top: 830px !important;
    }

}
@media only screen and (max-width: 723px) {
    .Footer {
        top: 5000px;
    }
    #info {
        width: 340px !important;
        height: 350px !important;
        top: -50px !important;
        hr {
            width: 300px !important;
            height: 0 !important;
            left: 19px !important;
            top: 170px !important;
        }
    }
    #email {
        left: 85px !important;
        top: -20px !important;
    }
    #mobile {
        left: 305px !important;
        top: 220px !important;
    }
    #footerMainSection {
        height: 1200px !important;
        #mjsnFood, p:nth-child(2),
        #socialMedia, 
        #quickLink {
            left: 22% !important;
        } 
    }
    #footerMainSection {
        #mjsnFood {
            top: 230px !important;
        }
        p:nth-child(2) {
            top: 270px !important;
        }
        #quickLink {
            top: 500px !important;
        }
        #newsletter {
            left: 50% !important;
            top: 750px !important;
            p:nth-child(2) {
                top: 50px !important;
            }
        }
    }
    #bottomHR {
        top: 1000px !important;
    }
    #copyright {
        width: 90% !important;
        top: 1050px !important;
        text-align: center;
    }
    
    
}
@media only screen and (max-width: 360px) {
    .Footer {
        top: 6000px;
    }
    #info {
        overflow: hidden;
        width: 320px !important;
        hr {
            width: 270px !important;
            left: 23px !important;
        }
    }
    #email {
        left: 70px !important;
    }
    #mobile {
        left: 290px !important;
    }
    #footerMainSection {
        #mjsnFood,
        p:nth-child(2),
        #quickLink {
            left: 20px !important;
        }
        #socialMedia {
            
            left: 0 !important;
            position: relative;
            display: block;
            margin: 0 auto;
        }
    }
}
#info {
    width: 1170px;
    height: 233.43px;
    border: transparent;
    border-radius: 30px;
    filter: drop-shadow(0px 10px 100px rgba(0, 0, 0, 0.24));
    background-color: white;
    position: relative;
    display: block;
    margin: 0 auto;
    top: 0;
    z-index: 2;
    hr {
        width: 0;
        height: 118.75px;
        border: 2px solid #E6E6E6;
        position: absolute;
        left: 589px;
        top: 57.85px;
    }
}
#email {
    width: 397px;
    height: 101.49px;
    position: absolute;
    left: 98px;
    top: 0;
    #emailCircle {
        @include footerCircles;
        #envelope {
            @include footerCirclesIcons;
        }
    }
    span {
        @include footerInfoSpan;
        left: 118px;
    }
}
#mobile {
    width: 388px;
    height: 101.49px;
    position: absolute;
    left: 683px;
    top: 65.97px;
    #mobileCircle {
        @include footerCircles;
        left: 0;
        top: 0;
        #phone {
            @include footerCirclesIcons;
        }
    }
    span {
        @include footerInfoSpan;
        top: 33px;
        left: 118px;
    }
}
#footerMainSection {
    width: 100%;
    height: 532px;
    position: absolute;
    top: 130px;
    background-color: #232233;
    z-index: 1;
    #mjsnFood {
        width: 199px;
        height: 30px;
        position: absolute;
        top: 246.54px;
        left: 9%;
    }
    p {
        font-family: $inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: white;
        position: absolute;
        top: 288.15px;
        left: 9%;
    }
}
#socialMedia {
    width: 276px;
    height: 24.36px;
    position: absolute;
    top: 412px;
    left: 9%;
    .socialMedia {
        font-size: 24px;
        position: absolute;
        top: 0;
        color: white;
        cursor: pointer;
    }
    .socialMediaHR {
        width: 0;
        height: 20.3px;
        border: 1px solid #FFFFFF;
        position: absolute;
        top: -6px;
    }
    #facebook {
        left: 0;
        color: #FCC647;
    }
    #firstSocialMediaHR {
        left: 54px;
    }
    #instagram {
        left: 88px;
    }
    #secondSocialMediaHR {
        left: 138px;
    }
    #twitter {
        left: 170px;
    }
    #thirdSocialMediaHR {
        left: 222px;
    }
    #youtube {
        left: 252px;
    }
}
#quickLink {
    width: 141px;
    height: 158px;
    position: absolute;
    top: 238.42px;
    left: 45%;
    span {
        font-family: "Segoe UI", sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 38px;
        color: #FFFFFF;
    }
    .footerLinks {
        list-style-type: none;
        font-family: "Segoe UI", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 38px;
        color: #FFFFFF;
        margin-left: -40px;
        
    }
    :link {
        text-decoration: none;
    }
    
}
#newsletter {
    width: 369px;
    height: 190px;
    position: absolute;
    top: 235px;
    left: 70%;
    span {
        font-family: "Segoe UI", sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 38px;
        color: #FFFFFF;
        position: absolute;
        left: 0;
        top: 0;
    }
    p {
        font-family: $inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        position: absolute;
        left: 0;
        top: 49px;
    }
    #newsletterInput {
        width: 369px;
        height: 50px;
        background-color: #FFFFFF;
        border: transparent;
        border-radius: 4px;
        position: absolute;
        top: 130px;
        left: 0;
        outline: none;
        text-indent: 20px;
        ::placeholder {
            font-family: $inter;
            font-family: 400;
            font-size: 16px;
            line-height: 24px;
            color: #6C6C72;
        }
    }
    #newsletterSubmit {
        width: 52px;
        height: 50px;
        background-color: #FEB918;
        border: transparent;
        border-radius: 4px;
        position: absolute;
        top: 130px;
        left: 317px;
        cursor: pointer;
        #submitIcon {
            font-size: 24px;
            color: #FFFFFF;
        }
    }
}
#bottomHR {
    width: 80%;
    height: 0;
    position: absolute;
    left: 139px;
    top: 482px;
    border: 1px solid #FFFFFF;
}
#copyright {
    font-family: $inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 505px;
}