$roboto: 'Roboto', sans-serif;
$inter: 'Inter', sans-serif;
@mixin main() {
    width: 50%;
    height: 700px;
    display: flex;
}
@mixin arrowIcons() {
    font-size: 36px;
    position: absolute;
    top: 16px;
    left: 18px;
}
* {
    box-sizing: border-box;
}
#getStarted {
    width: 100%;
    height: 700px;
    position: absolute;
    top: 97px;
    background-color: #FFFBF3;
    overflow-x: hidden;
}
#fastDelivery {
    background-color: #faeaca;
    width: 140px;
    text-align: center;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 9.24%;
    color: #FCC647;
    span {
        position: absolute;
        font-family: $roboto;
        font-weight: 700;
        left: 21px;
        top: 16px;
    }

}
#leftMain {
    @include main;
    float: left;
    p:nth-child(2) {
        font-family: $inter;
        font-size: 45px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 2px;
        position: absolute;
        left: 9.24%;
        top: 140px;
        color: #3C3C3C;
    }
    p:nth-child(3) {
        font-family: $inter;
        font-size: 20px;
        color: #667085;
        position: absolute;
        top: 280px;
        left: 9.24%;
        line-height: 50px;
    }
}
#getStartedButtons {
    width: 400px;
    height: 80px;
    position: absolute;
    top: 500px;
    left: 9.24%;
    #getStartedButton {
        width: 140px;
        height: 50px;
        background-color: #FCC647;
        border-radius: 16px;
        border: transparent;
        position: absolute;
        left: 0;
        top: 15px;
        color: white;
        font-size: 17px;
        cursor: pointer;
    }
    #watchVideo {
        width: 40px;
        height: 40px;
        background-color: white;
        border: transparent;
        border-radius: 360px;
        position: absolute;
        left: 160px;
        top: 20px;
        cursor: pointer;
    }
    span:nth-child(3) {
        position: absolute;
        top: 25px;
        left: 230px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.02em;
    }
}
#rightMain {
    @include main;
}
.foodIcons {
    font-size: 50px;
    color:rgba(112, 112, 112, 0.2);
}
#carrot {
    transform: rotate(-110deg);
    position: absolute;
    top: 40px;
}
#lemon {
    position: relative;
    left: 70px;
}
#appleWhole {
    transform: rotate(-130deg);
    position: relative;
    left: -10px;
    top: 70px;
}
#pepper {
    transform: rotateY(180deg);
    position: relative;
    top: 570px;
    left: -40px;
}
#leaf {
    position: relative;
    left: -80px;
    top: 620px;
}
#pizza {
    position: relative;
    left: -110px;
    top: 545px;
}
#mainDish {
    width: 600px;
    height: 600px;
    z-index: 3;
    position: absolute;
    left: 60%;
    top: 70px;
}
#orangeImg {
    width: 40%;
    height: 700px;
    position: absolute;
    left: 60%;
}
#howItWorks {
    width: 100%;
    height: 800px;
    margin-top: 800px;
    position: absolute;
    span:nth-child(1) {
        font-family: $inter;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #3C3C3C;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    p:nth-child(2) {
        font-family: $roboto;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        position: absolute;
        top: 160px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #667085;
        text-align: center;
    }
}
.howItWorks {
    width: 33.3%;
    height: 400px;
    margin-top: 300px;
    float: left;
    span {
        position: relative;
        display: flex;
        top: 60px;
        text-align: center;
        justify-content: center;
        font-size: 24px;
        font-family: $inter;
        font-weight: 700;
    }
    p {
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        top: 80px;
        font-size: 20px;
        padding: 20px;
        color: #667085;
    }
}
.howItWorksCircles {
    width: 90px;
    height: 90px;
    border: transparent;
    border-radius: 360px;
    position: relative;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#orderNowCircle {
    background-color: #1a38e2;
}
#getDeliveryCircle {
    background-color: #FCC647;
}
#faScroll {
    position: absolute;
    left: 21px;
    top: 24px;
}
#faTruck {
    position: absolute;
    left: 21px;
    top: 24px;
}
#faDollar {
    position: absolute;
    left: 32.5px;
    top: 24px;
}
#paymentCircle {
    background-color: #30aa3a;
}
#menuSpan {
    width: 465px;
    height: 105px;
    position: relative;
    top: 1600px;
    display: block;
    margin: 0 auto;
    span {
        position: relative;
        display: block;
        text-align: center;
        top: 0;
        font-family: "Segoe UI", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #3C3C3C;
    }
    p {
        position: relative;
        display: block;
        font-family: $inter;
        font-size: 14px;
        line-height: 27px;
        text-align: center;
        top: 15px;
        color: #667085;
}
}
#menu {
    top: 1700px;
    width: 1192px;
    height: 683px;
    position: relative;
    display: block;
    margin: 0 auto;
}
.menuItems {
    width: 273px;
    height: 319px;
    margin-bottom: 45px;
    margin-left: 0;
    margin-right: 25px;
    border: 1px solid rgba(112, 112, 112, 0.2);
    float: left;
    display: block;
    border-radius: 10.4827px;
    img {
        width: 161.85px;
        height: 152.77px;
        position: relative;
        margin: 0 auto;
        display: block;
    }
    span:nth-child(2) {
        font-family: "Segoe UI", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #3C3C3C;
        position: relative;
        left: 19.66px;
        top: 40px;
    }
    p:nth-child(3) {
        font-family: $inter;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #667085;
        position: relative;
        left: 19.66px;
        top: 33.61px; 
    }
    span:nth-child(4) {
        font-family: $inter;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #3C3C3C;
        position: relative;
        left: 19.66px;
        top: 30px;
    }
    .addToCart {
        width: 28.1px;
        height: 28.1px;
        background-color: #F24D21;
        color: white;
        border: transparent;
        border-radius: 4px;
        position: relative;
        left: 155px;
        top: 30px;
        cursor: pointer;
    }
    .shareDish {
        width: 28.1px;
        height: 28.1px;
        background-color: #171717;
        color: white;
        border: transparent;
        border-radius: 4px;
        position: relative;
        left: 165px;
        top: 30px;
        cursor: pointer;
    }
}
#pageChooseCircles {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 700px;
    height: 100px;
    top: 1800px;
}
.pageChooseCircles {
    width: 70px;
    height: 70px;
    border-radius: 360px;
    border: 1px solid rgba(112, 112, 112, 0.2);
    display: inline-flex;
    position: absolute;
    top: 15px;
    cursor: pointer;
    span {
        font-size: 36px;
        font-family: $inter;
        position: absolute;
        left: 24px;
        top: 14px;
        color: #3C3C3C;
    }
}
#leftArrow {
    left: 20px;
}
#one {
    left: 120px;
}
#two {
    left: 220px;
}
#three {
    left: 320px;
}
#four {
    left: 420px;
}
#five {
    left: 520px;
}
#rightArrow {
    left: 620px;
}
#leftArrowIcon {
    @include arrowIcons;
}
#rightArrowIcon {
    @include arrowIcons;
}
 
#downloadTheApp {
    position: relative;
    top: 2150px;
    width: 100%;
    height: 700px;
    p:nth-child(1) {
        font-family: $inter;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        position: absolute;
        left: 10%;
        top: 20px;
        color: #3C3C3C;
    }
    p:nth-child(2) {
        font-family: $roboto;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        position: absolute;
        left: 10%;
        top: 170px;
        color: #667085;
    }
    .stores {
        width: 200px;
        height: 70px;
        background-color: #000000;
        border: transparent;
        border-radius: 10px;
        color: #FFFFFF;
    }
    #stores {
        position: absolute;
        left: 10%;
        top: 330px;
    }
    #googlePlay {
        position: absolute;
        left: 0;
        cursor: pointer;
        span:nth-child(2) {
            font-size: 10px;
            position: absolute;
            top: 14px;
            left: 60px;
        }
        span:nth-child(3) {
            position: absolute;
            font-size: 25px;
            left: 58px;
            top: 25px;
            font-family: sans-serif;
        }
        span:nth-child(4) {
            position: absolute;
            left: 146px;
            top: 28px;
            font-size: 20px;
        }
    }
    #appStore {
        position: absolute;
        left: 250px;
        cursor: pointer;
        span:nth-child(2) {
            font-size: 10px;
            position: absolute;
            top: 14px;
            left: 60px;
        }
        span:nth-child(3) {
            font-size: 25px;
            position: absolute;
            top: 30px;
            left: 60px;
        }
    }
    #googlePlayIcon {
        width: 60px;
        height: 40px;
        position: absolute;
        left: 2px;
        top: 15px;
    }
    #appStoreIcon {
        position: absolute;
        left: 10px;
        top: 8px;
        font-size: 50px;
    }
}
#mobileApp {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 55%;
    border: transparent;
    border-radius: 360px;
    background-color: #FCC647;
    img {
        position: absolute;
        top: 50px;
        left: -10px;
        width: 620px;
        height: 550px;
    }
    #phoneAroundCircle {
        width: 550px;
        height: 550px;
        background-color: none;
        border: 1px solid #FFFFFF;
        border-radius: 360px;
        position: absolute;
        left: 25px;
        top: 25px;
    }
}
#footerHome {
    position: relative;
    top: 6200px; 
}

@media only screen and (max-width: 1429px) {
    
    #downloadTheApp {
        top: 2000px;
        overflow: hidden;
    }
}
@media only screen and (max-width: 1160px) {
    #rightMain {
        display: none;
    }
    #menu {
        width: 894px;
        height: 1047px !important;
    }
    
    #mobileApp {
        left: 50%;
        transform: translate(-50%, 0);
        top: 600px;
    }
    #downloadTheApp {
        height: 1500px;
    }
}
@media only screen and (max-width: 1076px) {
    #pageChooseCircles {
        top: 2650px;
    }
    #downloadTheApp {
        top: 2750px;
    }
}
@media only screen and (max-width: 900px) {
    #menu {
        width: 596px;
        height: 1411px !important;
    }
}
@media only screen and (max-width: 723px) {
    #howItWorks  {
        span:nth-child(1) {
            
            top: 40px;
            
        }
        p:nth-child(2) {
        font-size: 17px;
        line-height: 30px; 
        }
    }
    #pageChooseCircles {
        width: 90%;
        height: 50px;
    }
    .pageChooseCircles {
        width: 50px;
        height: 50px;
        top: 0;
        span {
            font-size: 28px;
            top: 10px;
            left: 17px;
        }
    }
    #leftArrowIcon,
    #rightArrowIcon {
        font-size: 30px;
        top: 10px;
        left: 12px;
    }
    #leftArrow {
        left: 0;
    }
    #one {
        left: 80px;
    }
    #two {
        left: 160px;
    }
    #three {
        left: 240px;
    }
    #four {
        left: 320px;
    }
    #five {
        left: 400px;
    }
    #rightArrow {
        left: 480px;
    }
    #downloadTheApp {
        top: 4200px;
    }
    
}
@media only screen and (max-width: 638px) {
    #leftMain {
        p:nth-child(3) {
            top: 380px;
            font-size: 18px;
            line-height: 28px;
        }
    }
    #getStartedButtons {
        top: 560px;
    }
    #menu {
        width: 273px;
        height: 2867px !important;
        span:nth-child(1) {
            top: 40px !important;
        }
    }
    .menuItems {
        margin-left: 0;
    }
}
@media only screen and (max-width: 563px) {
    #howItWorks {
        span:nth-child(1) {
            top: 10px;
        }
    }
    #pageChooseCircles {
        top: 4150px;
    }
}